/* MAIN VARIABLES */

:root {
    --background: #252526;
    --text: #C0E0DE;
    --accent: #007ACC;
    --block: #333333;
    --border: #17825D;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: monospace;
    margin-left: 0;
    margin-right: 0;
    z-index: -2;
}

/* BASIC ELEMENTS */

h1 {
    font-size: 50px;
}

h2 {
    color: var(--accent);
    font-size: 35px;
}

h3 {
    color: var(--accent);
    font-size: 25px;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
}

h4 {
    color: var(--text);
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 30px;
}

/* GENERAL CLASSES AND IDS */

#stars {
    position: fixed;
    z-index: -2;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
}

.profile-pic {
    border: 7px solid var(--border);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 5fr));
    align-items: center;
    gap: 10%;
}

.project-description {
    display: grid;
    grid-template-areas: 'first first first first first first second third';
    align-items: center;
}

.project div a:hover {
    transform: scale(1.05, 1.05);
    transition: all 0.35s ease-in-out;
}

#first {
    height: 150px;
    grid-area: first;
    grid-template-columns: repeat(auto);
}

#second {
    height: 150px;
    grid-area: second;
    margin-top: 150px;
    margin-right: -50px;
}

#third {
    height: 150px;
    margin-top: 150px;
    grid-area: third;
}

/* MAIN SECTIONS STYLING */

#about {
    background-color: var(--block);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 600px;
    text-align: justify;
    padding-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
}

#projects {
    background-color: var(--block);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
    text-align: justify;
    padding-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
}

/* BOTTOM BLOCK */

#bottom-block {
    text-align: center;
    padding-bottom: 50px;
}

.bottom {
    font-size: 60px;
    color: var(--text);
    text-align: center;
    list-style-type: none;
    padding-bottom: 100px;
}

.bottom li {
    display: inline-block;
    transform: translate(-20px, 0px);
}

.bottom li img {
    background-color: var(--text);
    border-radius: 15px;
    padding: 7px;
    margin: 10px;
}

.bottom li img:hover {
    transform: scale(1.15, 1.15);
    transition: all 0.35s ease-in-out;
}

/* STYLE FOR SMALL SCREEN WIDTH */

@media (max-width: 1111px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 5fr));
        align-items: center;
        gap: 10%;
        margin-bottom: 100px;
    }

    #first {
        height: 150px;
        grid-area: first;
        grid-template-columns: repeat(auto);
        margin-top: 100px;
    }
    
    #second {
        height: 150px;
        grid-area: second;
        padding-top: 100px;
        margin-right: -50px;
    }
    
    #third {
        height: 150px;
        padding-top: 100px;
        grid-area: third;
    }

    .project-description {
        display: grid;
        grid-template-areas: 'first first first first first first second third';
        align-items: center;
        padding-bottom: 350px;
    }
}

@media (max-width: 530px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 5fr));
        align-items: center;
        gap: 10%;
        margin-bottom: 100px;
    }

    #first {
        height: 150px;
        grid-area: first;
        grid-template-columns: repeat(auto);
        margin-top: 100px;
    }
    
    #second {
        height: 150px;
        grid-area: second;
        padding-top: 100px;
        margin-right: -50px;
    }
    
    #third {
        height: 150px;
        padding-top: 100px;
        grid-area: third;
    }

    .project-description {
        display: grid;
        grid-template-areas: 'first first first first first first second third';
        align-items: center;
        padding-bottom: 350px;
    }

    #start-game {
        display: none;
    }

    #welcome-text {
        margin-left: 8%;
        max-width: 350px;
    }

    #game-container {
        display: flex;
        padding-left: 18%;
        flex-direction: column;
    }

    #about {
        width: 100vw;
    }

    #projects {
        width: 100vw;
    }

    #bottom-block {
        display: flex;
        padding-left: 25%;
        flex-direction: column;
    }
}

/* SPACE INVADERS GAME */

#start-game {
    visibility: visible;
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 40px solid white;
    margin-left: 5%;
    margin-top: -350px;
    cursor: pointer;
}

#instructions {
    font-size: 20px;
    line-height: 40px;
    visibility: hidden;
    margin-left: 5%;
    margin-top: 10px;
    text-align: left;
}

.boxed {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid white;
    border-radius: 5px;
}

#start-game:hover {
    transform: scale(1.15, 1.15);
    transition: all 0.35s ease-in-out;
}

#game-container {
    display: block;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 500px;
}

#ship {
    opacity: 0;
    position: absolute;
    margin-bottom: 100px;
    bottom: 10px;
    width: 0; 
    height: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    border-bottom: 36px solid white;
    transition: opacity 0.75s ease-in-out;
}

.bullet {
    position: absolute;
    width: 5px;
    height: 10px;
    background-color: #fff;
}

#intro-text {
    font-size: 24px;
    text-align: center;
    color: #fff;
}

.letter {
    display: inline-block;
    position: relative;
}